<div class="newsletter-hero">
    <p>Subscribe to receive our latest analysis, updates, and best-in-class research on Bitcoin, Ethereum, DeFi, and more.</p>
    <div class="newsletter-hero__form">
        <form id="newsletter-hero-form">
            <input type="email" id="newsletter-hero-email" name="email" class="newsletter-hero__form__input" placeholder="Email" aria-label="Email Field">
            <button type="submit" class="newsletter-hero__form__submit">Subscribe</button>
        </form>
    </div>
    <p class="newsletter__disclaimer">
        By subscribing, you agree to our
        <a href="https://studio.glassnode.com/terms-and-conditions" target="_blank" rel="noreferrer noopener">Terms and Conditions</a>
        and
        <a href="https://studio.glassnode.com/privacy-notice" target="_blank" rel="noreferrer noopener">Privacy Policies</a>.
    </p>
</div>