<div class="newsletter-post-card post-card">
    <h2>Subscribe to our newsletter</h2>
    <p>Subscribe to receive our latest analysis, updates, and best-in-class research on Bitcoin, Ethereum, DeFi, and more.</p>
    <form id="newsletter-post-card-form" class="newsletter-post-card__form">
        <input type="email" id="newsletter-post-card-email" name="email" class="newsletter-post-card__form__input"
               placeholder="Email" aria-label="Email Field">
        <button type="submit" id="newsletter-post-card-submit" class="newsletter-post-card__form__submit">Subscribe</button>

        <p id="newsletter-post-card-warning" class="d-none newsletter__warning--email"><span>{{> icons/warning }}</span> An error has occurred, please try again later.</p>
    </form>
    <p class="newsletter__disclaimer">
        By subscribing, you agree to our
        <a href="https://studio.glassnode.com/terms-and-conditions" target="_blank" rel="noreferrer noopener">Terms and Conditions</a>
        and
        <a href="https://studio.glassnode.com/privacy-notice" target="_blank" rel="noreferrer noopener">Privacy Policies</a>.
    </p>
</div>