<div class="newsletter-banner d-none">
    <div class="newsletter-banner__body">
        <p class="newsletter-banner__title">Subscribe to receive latest updates, and best-in-class research on Bitcoin, Ethereum, DeFi, and more.</p>
        <p class="newsletter-banner__disclaimer">By subscribing, you agree to our Terms and Conditions and Privacy Policies.</p>
    </div>
    <div class="newsletter-banner__form">
        <form id="newsletter-banner-form">
            <div class="newsletter-banner__form__input-wrapper">
                <label for="newsletter-banner-email" class="newsletter-banner__form__label">Email Address</label>
                <input type="email" id="newsletter-banner-email" name="email" class="newsletter-banner__form__input" placeholder="Email">
            </div>
            <div class="newsletter-banner__form__submit-wrapper">
                <button type="submit" class="newsletter-banner__form__submit">Subscribe</button>
            </div>
        </form>
    </div>
    <div class="newsletter-banner__dismiss">
        <button type="button" id="newsletter-banner-dismiss">
            {{> "icons/close"}}
        </button>
    </div>
</div>