.gh-head-menu--secondary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: right;
}

.nav .nav-lang {
    position: relative;
    background: red;
}

.nav .nav-lang .nav-dropdown {
    display: none;
    visibility: hidden;
    opacity: 0;

    background: orange;
    min-width: 200px;

    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1;
}

.nav .nav-lang:hover .nav-dropdown,
.nav .nav-lang:focus-within .nav-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}
